@import 'normalize';

$leading-background-color: #3c5d59;
$additional-background-color: #76A6A0;
$leading-text-color: #333;
$additional-text-color: white;
$border-radius: 10px;

@mixin basic-setup {
    margin: 0;
    padding: 0;
    display: flex;
}

body {
    @include basic-setup();
    font-family: 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    color: $leading-text-color;
    flex-direction: column;
    min-height: 100vh;
    text-align: justify;
    text-justify: inter-word;
    background-image: url("../images/background9.jpg");
    background-size: 100%;
}

header {
    background-color: $leading-background-color;
    text-align: center;
    color: $additional-text-color;
}

nav {
    background: lighten($additional-background-color, 1);
    ul {
        @include basic-setup();
        list-style: none;
        justify-content: space-around;

        li {
            flex: 1;
            text-align: center;

            a {
                color: $additional-text-color;
                text-decoration: none;
                padding: 15px;
                display: block;
                transition: 0.3s ease;
            }

            &:hover {
                background: #009688;
            }
        }
    }
}

main {
    flex: 1;
    padding: 20px 20px;
    margin: 20px 30px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: $border-radius;
}

h1 {
    padding: 10px 0px;
}

h2 {
    margin-bottom: 30px;
    color: $leading-background-color;
}

h3 {
    margin-top: 40px;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: $border-radius;
}

footer {
    text-align: center;
    background-color: $leading-background-color;
    color: $additional-text-color;
    padding: 10px 0;
    width: 100%;
    margin-top: auto;
} 

%flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.image-group-2 {
    @extend %flex-container;
    flex-direction: column;

    img {
        width: 90%;
    }
}

.image-group-3 {
    @extend %flex-container;

    img {
        width: 30%;
    }
}

.big-screens {
    display: none;
}

.mail {
    color: $additional-text-color;
    text-decoration: none;
    transition: 0.2s ease;

    &:hover {
        color: #b1cdcb;
    }
}


@mixin responsive($size) {
    @if $size == small {
        @media screen and (min-width: 700px) { @content; }
    } @else if $size == medium {
        @media screen and (min-width: 900px) { @content; }
    } @else if $size == large {
        @media screen and (min-width: 1100px) { @content; }
    }
}

@include responsive(small) {
    main {
        padding: 20px 30px;
        margin: 20px 60px;
    }
    .image-group-2 img {
        width: 85%;
    }
}

@include responsive(medium) {
    main {
        padding: 20px 30px;
        margin: 20px 60px;
    }
    
    .image-group-2 img {
        width: 70%;
    }

    img {
        margin: 15px auto;
    }
}

@include responsive(large) {
    main {
        padding: 20px 60px;
        margin: 20px 100px;
    }
    
    img {
        margin: 15px auto;
    }

    .image-group-2 {
        flex-direction: row;
        img {
            width: 48%;
        }
    }
    .big-screens {
        display: flex;
    }
}





.hamburger-menu {
    display: block;
    font-size: 30px;
    color: $additional-text-color;
    padding: 5px 15px 15px 0px;
    cursor: pointer;
    float: right;
}

nav ul {
    display: none;
    flex-direction: column;
    background-color: lighten($additional-background-color, 1);
    width: 100%;
    text-align: center;

    &.active {
        display: flex;
    }
}

@include responsive(small) {
    nav ul {
        display: flex !important;
        flex-direction: row;
        justify-content: space-around;
    }

    .hamburger-menu {
        display: none !important;
    }

    nav ul li {
        padding: 0; // reset padding if needed
    }
}
